<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>EasyScheduling - main</title>
</head>
<body>
    <div id="instruction-list">
    <ul>
      <li><img src="images/MiniEmptylogoblue.jpg"></img>&nbsp;<span class="steps">Step 1:</span> <span class="easy">Create</span>/load your profile</li>
      <li><img src="images/MiniEmptylogoblue.jpg"></img>&nbsp;<span class="steps">Step 2:</span> Schedule an <span class="easy">event</span>/meeting (up to seven <span class="easy">dates</span>/locations)</li>
      <li><img src="images/MiniEmptylogoblue.jpg"></img>&nbsp;<span class="steps">Step 3:</span> Invite people</li>
      <li><img src="images/MiniEmptylogoblue.jpg"></img>&nbsp;<span class="steps">Step 4:</span> Collect the results and see what's the most convenient date</li>
    </ul>
    <span class="main-text">
    <br/>
    What is <b><span class="easy">easy</span>scheduling.com.au</b>?<br>
    <br/><span class="easy">easy</span>scheduling.com.au will help you establish the best <span class="easy">date</span>/location for your next <span class="easy">event</span>/meeting by soliciting responses from your potential invitees.
    <br/>With 4 easy steps to follow, the task of finding the best <span class="easy">date</span>/location is <span class="easy">easy</span> and convenient.
    <br/>Enjoy the simplicity, appreciate the effectiveness.
    <br /><br />
    Enjoy<br />
    EasyScheduling Team
    </span>
    </div>
    <table class="body-table" id="profile-table" border="0">
      <tr>
        <td>
          <a href="?page_name=c_o" class="home" title="Create a new Login Profile"><img class="home-buttons" src="images/new_profile.jpg"></img></a>
        </td>
        <td>
        	<a href="?page_name=l_o" class="home" title="Log on to easyscheduling.com.au"><img class="home-buttons" src="images/load_profile.jpg"></img> </a>
        </td>
      </tr>
    </table>
    <script type="text/javascript" >
    {literal}
      function changeIcon(arg, id){
         //alert("getting ready to change the icon");
         if(arg==1){
          document.getElementById(id).src = "images/minilogoblue.jpg";
         }
         else{
          document.getElementById(id).src = "images/MiniEmptylogoblue.jpg";
         }
      }
      {/literal}
    </script>   
</body>
</html>